@model DataModels.Student

@{
    ViewBag.Title = "Details";
}

<h2>@Session["Acc"].ToString() 报名信息</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.StudentAcc.StuAcc)
        </dt>

        <dd>
            @Session["Acc"].ToString()
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Nation.NationName)
        </dt>

        <dd>
            @ViewBag.NationName
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Specialty.SpecialtyName)
        </dt>

        <dd>
            @ViewBag.specialtyName
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CardNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CardNumber)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.StudentName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StudentName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Sex)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Sex)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Birthday)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Birthday)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CNumber)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NativePlace)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NativePlace)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TelNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TelNumber)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SchoolName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SchoolName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Adress)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Adress)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ZipCode)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ZipCode)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Patriarch)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Patriarch)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Pat_Telnum)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Pat_Telnum)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Mandator)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Mandator)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UnifiedScore)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UnifiedScore)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TotalPoints)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TotalPoints)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Period_CategoryId)
        </dt>

        <dd>
            @ViewBag.CategoryName
        </dd>

    </dl>
</div>
<p>
    @if (Convert.ToBoolean(Session["Student"]))
    {
        @Html.ActionLink("编辑我的报名信息", "Edit", new { id = Model.StudentId }, new { @class = "btn btn-primary" })
        @Html.ActionLink("返回首页", "Index", "Home", new { id = Model.StudentId }, new { @class = "btn btn-primary" })
    }
    else
    {
        @Html.ActionLink("返回首页", "Index", "Student", new { id = Model.StudentId }, new { @class = "btn btn-primary" })
    }
</p>
