@model IEnumerable<DataModels.Student>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Acc.StuAcc)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Category.CategoryName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Nation.NationName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Specialty.SpecialtyName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CardNumber)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.StudentName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Sex)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Birthday)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NativePlace)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TelNumber)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SchoolName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Adress)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ZipCode)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Patriarch)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Pat_Telnum)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Mandator)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UnifiedScore)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TotalPoints)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PicUrl)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Acc.StuAcc)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Category.CategoryName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Nation.NationName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Specialty.SpecialtyName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CardNumber)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.StudentName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Sex)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Birthday)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NativePlace)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TelNumber)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SchoolName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Adress)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ZipCode)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Patriarch)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Pat_Telnum)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Mandator)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.UnifiedScore)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TotalPoints)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PicUrl)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.StudentId }) |
            @Html.ActionLink("Details", "Details", new { id=item.StudentId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.StudentId })
        </td>
    </tr>
}

</table>
