@model IEnumerable<DataModels.Specialty>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Period_Category.CategoryName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SpecialtyName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Tuition)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Period_Category.CategoryName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SpecialtyName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Tuition)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.SpecialtyId }) |
            @Html.ActionLink("Details", "Details", new { id=item.SpecialtyId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.SpecialtyId })
        </td>
    </tr>
}

</table>
